<!DOCTYPE html>

<style>
.paragraph {
    text-align: justify;
}
</style>

{% extends 'layout.html' %}

{% block content %}
<div class="text-left mt-0 px-5">
    <h3>Selamat Datang di BudayaKB</h3>

    <p class="paragraph">Indonesia adalah negara yang kaya akan warisan budaya. Batik,  misalnya, merupakan salah satu simbol warisan budaya Indonesia yang telah diakui oleh UNESCO sebagai <i>intangible cultural heritage of humanity</i>. Warisan budaya lainnya yang tidak kalah populer adalah Rendang, yang merupakan ikon kuliner Indonesia dan terpilih sebagai masakan terenak di dunia menurut CNN. Tentunya, masih banyak lagi warisan-warisan budaya Indonesia yang tak kalah menarik, mulai dari Tari Saman, sampai Upacara Kuk Kir Kna.</p>

    <p class="paragraph">Sistem BudayaKB merupakan sistem manajemen knowledge base (KB) untuk warisan budaya Indonesia. Sistem ini dikembangkan untuk melestarikan budaya Indonesia dan memiliki beberapa fitur penting, diantaranya: </p>
    <ul>
        <li>Mengimpor dan mengekspor data budaya</li>
        <li>Mencari data budaya</li>
        <li>Menambahkan, menyunting, dan menghapus data budaya</li>
        <li>Menampilkan statistik data budaya</li>
    </ul>
</div>
{% endblock content %}