<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>BudayaKB Lite</title>
</head>
<style>
    .content {
        margin-top: 0%;
    }
</style>
<body>
    <div class="container" style="background-color: white;">
        {% include 'includes/navbar.html' %}
        <br>
        <div class="content text-center" style="min-height: 60vh;">
            {% block content %}{% endblock %}
        </div>
        {% include 'includes/footer.html' %}
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.7/js/tether.min.js"></script>

</html>